@page "/LearnBlazor/bindProp"

<h3 class="display-6 text-warning">Product</h3>

Name @product.Name <br />
IsActive @product.IsActive <br />

Price @product.Price <br />
@* This is one way data binding  *@
@* Price : <input type="number" value="@product.Price" /> <br /> *@
@* ! This is Two way data binding  *@
Price : <input type="number" @bind="@product.Price" @bind:event="oninput" /> <br />


@code {
   Tangy_Models.LearnBlazorModels.Demo_Product product = new ()
   {
      Id = 1,
      Name = "Rose Candles",
      IsActive =  true,
      Price = 10.99
   }; 
}